body{
    background-color: grey;
}

header{
    display: flex;
    background-image: url("../img/sindical_move.jpeg");
    background-size: contain;
    height: 200px;
    justify-self: center;
    align-items: center;
    justify-content: center;
}

.imp{
    font-size: 400%;
    padding: 10px;
    background-color: white;
}

.textBox{
    background-color: #8b7272;
    width: 80vw;
    height: fit-content;
    margin: 10px auto;
    padding: 20px;
    font-size: large;
    text-align: justify;
    text-indent: 15px;
    overflow-wrap: break-word;
}

.textBox2Flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.textBox2{
    align-self: flex-start;
    background-color: #8b7272;
    width: 40vw;
    height: fit-content;
    margin: 10px;
    padding: 20px;
    font-size: large;
    text-align: justify;
    overflow-wrap: break-word;
}

    .textBox2 p{
        text-indent: 15px;
    }

    .boxTitle{
        font-weight: bold;
    }